* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

#panel {
  width: 80%;
  height: 80%;
  background-color: aliceblue;
  border-radius: 10px;
  overflow: hidden;
}
#ptop {
  padding: 0 30%;
  display: flex;
  color: aliceblue;
  height: 100px;
  width: 100%;
  background-color: rgb(59, 156, 156);
  align-items: center;
  justify-content: space-between;
}
.elem {
  display: flex;
  gap: 20px;
  align-items: center;
}

.box {
  color: rgb(82, 187, 122);
  padding: 20px;
  background-color: aliceblue;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.2rem;
}

#pbtm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 5px;
  width: 100%;
  height: calc(100% - 100px);
}
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: white;
  background-color: rgb(60, 219, 166);
}
.bubble:hover {
  background-color: rgb(18, 166, 117);
}
